#html {
  background-color: black;
}

#main {
  display: grid;

  grid-template-rows: auto;

  grid-template-columns: 12.5% 75% 12.5%;

  grid-template-areas:
    ". header ."
    ". image ."
    ". content ."
    ". link .";

  justify-items: center;
}

#title {
  color: yellow;
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  grid-area: header;
}

#img-div {
  text-align: center;
  grid-area: image;
}

#image {
  max-width: 100%;
  height: auto;
  /*mix-blend-mode: multiply;*/
  border-radius: 50%;
  padding: 10px;
  box-shadow: 5px 10px 20px yellow;
  border-width: 10px;
  border-style: solid;
  display: block;
  margin: auto;
}

#image:hover {
  transform: scale(1.1);
}

#img-caption {
  margin-top: 7.5%;
  font-family: monospace;
  color: yellow;
}

#tribute-info {
  color: yellow;
  text-align: center;
  margin-top: 5%;

  border-width: 10px;
  border-style: solid;
  border-radius: 5%;
  border-color: yellow;

  font-family: monospace;
  font-size: x-large;
  grid-area: content;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    "header-2 "
    " sec-1 "
    " sec-2 "
    " sec-3 "
    " sec-4 ";

  padding: 5%;
  width: 100%;
}

#header-2 {
  text-align: center;
}

#sec-3 {
  grid-area: sec-3;
}

#read-more {
  text-align: center;
  width: auto;
  font-family: monospace;
  font-size: large;
  grid-area: link;
  color: yellow;
}

#tribute-link {
  color: yellow;
}
