
#html{
    background-color: black;
}

#main {
    background-color: yellow;

    display: grid;

    grid-template-rows:auto;

    grid-template-columns: 12.5% 75% 12.5%;

    grid-template-areas: 

    ". header ."
    ". image ."
    ". content ."
    ". link .";

    justify-items: center;
}





#title{
   color: black; 
   font-size: 50px;
   font-family: monospace;
   text-align: center;
   grid-area: header;
   
}


#img-div{
    text-align: center;
    grid-area: image;
  


}



#image{
    max-width: 100%;
    height: auto;
    mix-blend-mode: multiply;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 5px 10px 20px black;
    border-width: 10px;
    border-style: solid;
    display: block;
    margin: auto;

    }

#image:hover{
    transform: scale(1.1);
}

#img-caption{
    margin-top: 7.5%;
    font-family: monospace;
}

#tribute-info{
    color: black;
    text-align: center;
    margin-top: 5%;
    
    border-width: 10px;
    border-style:solid;
    border-radius: 5%;
    border-color: black;
    
    font-family: monospace;
    font-size: x-large;
    grid-area: content;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "header-2 "
    " sec-1 "
    " sec-2 "
    " sec-3 "
    " sec-4 ";

    padding: 5%;
width:  100%;
    
}

#header-2{
    text-align: center;
}

#div-image-1{
    text-align: content;
    grid-area: img-1;
}
#image-1{
    max-width: 75%;
    height: auto;
    border-radius: 25px;
    mix-blend-mode: multiply;


    display: block;
    margin: auto;
}

#sec-1{
    grid-area: sec-1;
}

#div-image-2{
    text-align: content;
    grid-area: img-2;
    margin-top: 5%;
}
#image-2{
    max-width: 75%;
    height: auto;
    mix-blend-mode: multiply;
    border-radius: 5%;
    display: block;
    margin: auto;
    
    
}

#sec-2{
    grid-area: sec-2;
}


#div-image-3{
    text-align: link;
    grid-area: img-3;
    margin-top: 5%;
}
#image-3{
    max-width: 75%;
    height: auto;
    mix-blend-mode: multiply;
    border-radius: 5%;
    display: block;
    margin: auto;    
    
}
#sec-3{
    grid-area: sec-3;
}


#div-image-4{
    grid-area: img-4;
    margin-top: 5%;
}
#image-4{
    max-width: 75%;
    height: auto;
    mix-blend-mode: multiply;
    border-radius: 5%;
    display: block;
    margin: auto;  

}

#sec-4{
    grid-area: sec-4;
}




#read-more{
    text-align: center;
    width: auto;
    font-family: monospace;
    font-size: large;
    grid-area: link;
       
}



